body,
section,
div,
ul,
li,
nav,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
main {
  margin: 0;
  padding: 0;
}

body {
  padding: 25px 14px 100px;

  font-family: PingFangSC-Regular;
  color: #404040;
  background: #fdfdfd;
}

a {
  color: #175199;
  outline: none;
  text-decoration: none;
}

.header {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.header h1 {
  margin-bottom: 8px;

  font-size: 22px;
}

.header ul {
  list-style: none;
}

.main {
  width: 800px;
  padding: 0 14px;
  margin: 24px auto 0;

  box-sizing: border-box;
}

.main h2 {
  padding-bottom: 4px;
  margin-bottom: 10px;

  font-size: 16px;
  border-bottom: 1px solid #eaeaea;
}

.main h3 {
  margin: 10px 0;
  
  font-size: 14px;
}

.main > section:not(:first-child) {
  margin-top: 12px;
}

.main ul {
  padding-left: 18px;
}

.main ul li {
  line-height: 24px;
}

.main .work-experience ul {
  padding-left: 0;
  
  list-style: none;
}

.main .work-experience ul li {
  margin-bottom: 5px;
}

.main .title time {
  display: inline-block;
  width: 140px;
}

.main .describe {
  margin-left: 146px;

  color:#757575;
}