body,
section,
div,
ul,
li,
nav,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
main {
  margin: 0;
  padding: 0;
}

body {
  padding: 30px 14px 100px 14px;

  font-family: PingFangSC-Regular;
  background: ghostwhite;
}

a {
  color: #175199;
  outline: none;
  text-decoration: none;
}

.header {
  font-size: 14px;
  color: #404040;
  line-height: 25px;
  text-align: center;
}

.header h1 {
  margin-bottom: 8px;

  font-size: 22px;
}

.header ul {
  list-style: none;
}
