<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{outputFileName}}</title>
  <link rel="stylesheet" href="./index.css">
</head>
<body>
  <header class="header">
    <h1>{{name}}</h1>
    <p>{{sex}}  {{age}}岁  {{education}}  {{workingYears}}</p>
    <p>{{tel}}  {{email}}</p>
    <p>期望城市: {{expectCity}} | 求职意向: {{jobIntension}}</p>
    <p>当前状态: {{currentState}} | 期望薪资: {{expectedSalary}}</p>
    <p>自我介绍: {{toIntroduceMyself}}</p>
  </header>
  <main class="main">
    <section class="work-experience">
      <header>
        <h2>工作经历</h2>
      </header>
      <main>
        <nav>
          <ul>
            {{each workExperience}}
            <li>
              <p class="title">
                <time>{{$value.time}}</time>
                <span>{{$value.company}}</span>
              </p>
              <p class="describe">{{$value.describe}}</p>
            </li>
            {{/each}}
          </ul>
        </nav>
      </main>
    </section>
    <section class="project-experience">
      <header>
        <h2>项目经验</h2>
      </header>
      <main>
        {{each projectExperience}}
          <h3>{{$value.name}}</h3>
          <nav>
            <ul>
              {{each $value.describes}}
                <li>{{$value}}</li>
              {{/each}}
            </ul>
          </nav>
        {{/each}}
      </main>
    </section>
    <section class="works">
      <header>
        <h2>开源项目及作品</h2>
      </header>
      <main>
        {{each works}}
          <h3>{{$value.name}}</h3>
          <nav>
            <ul>
              {{each $value.list}}
                <li>
                  {{if $value.url}}
                    <a href="{{$value.url}}">{{$value.name}}</a>
                  {{/if}}

                  {{if !$value.url}}
                    <p>{{$value.name}}</p>
                  {{/if}}

                  {{if $value.describe}}
                    <p>{{$value.describe}}</p>
                  {{/if}}
                </li>
              {{/each}}
            </ul>
          </nav>
        {{/each}}
      </main>
    </section>
    <section>
      <header>
        <h2>博客及代码仓库</h2>
      </header>
      <main>
        <nav>
          <ul>
            {{each personalWebsite}}
              <li>
                <a href="{{$value.url}}">{{$value.name}}: {{$value.url}}</a>
              </li>
            {{/each}}
          </ul>
        </nav>
      </main>
    </section>
  </main>
</body>
</html>